@import '~antd/dist/antd.css';
h1 {
  font-size: 1.1em !important;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 14px;
}

.column-padding {
    padding: 10px 13px;
}

h3{
  font-size: 1.17em !important;
}
body{
  font-family: "Fira Sans",sans-serif;
  font-style: normal;
  font-weight: 400;
}
.App {
  text-align: center;
}
.ant-layout{
  background: #fff;
}
.ant-layout-header {
  height: 80px;
  padding: 0 50px;
  line-height: 50px;
  background: #4f3949;
}

.title {
  padding: 10px 0 0;
  font-weight: 700;
  color: #4f3949;
  font-size: 1.6em !important;
}
.rowWidth{
  max-width: 1075px;
  margin: 0 auto;
}
.sections{
  padding: 35px 15px;
  height:100%;
}

.section-2,.section-4,.section-5{
  margin: 10px;
  padding: 10px 15px;
}
.howItWorksTitle{
  padding: 10px 0 0 0;
  color: #2d2926 ;
}
.howItWorksImage {
  width: 170px;
  height: 140px;
  display: block;
  text-align: center;
  margin: 0 auto;
  padding: 5px 15px 0;
}

.howItWorksButton {
  -moz-user-select: "none";
  -ms-user-select: "none";
  -webkit-user-select: "none";
  user-select: "none";
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  position: relative;
  width: auto;
  background-color: #4f3948;
  border-radius: 0;
  font-weight: 600;
  letter-spacing: 2px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  line-height: 2.2;
  vertical-align: middle;
  cursor: pointer;
  -webkit-transition: outline .1s linear;
  transition: outline .1s linear;
  color: #fff;
  border: none;
  /* padding: 5px 15px; */
}

.content-align{
  /* max-height: 560px; */
  height: 100%;
  top: 15px;
 /* left: 29px;*/
  display: block;
  padding: 15px 0;
  margin: 20px 0;
}
.section-3, .section-6{
  margin: 10px 0;
  background-color: rgb(79, 57, 73);
  padding: 10px 15px;

}

.titleAboutUs, .titleSubscribe {
  padding: 15px 0;
  font-weight: 700;
  color: #fff;
  font-size: 1.6em;
}

.contentParagraph{
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  line-height: 26px;
  font-size: 15px;
  color: #fff !important;
  text-align: justify;
  max-width: 430px;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

.aboutUsImage{
  width: 100%;
  height: 100%;
  display: inline-block;
  margin: 0 auto;
  max-width: 390px;
  max-height: 505px;
  padding: 5px 15px 0 15px;
}

.ant-avatar.ant-avatar-icon {
  width: 100px;
  height: 100px;
  line-height: 64px;
  font-size: 85px;
  position: relative;
  top: -48px;
  background: #4F3439;
}
.contentParagraphInverse{
  font-family: 'Fira Sans', sans-serif;
  font-weight: 600;
  line-height: 26px;
  font-size: 15px;
  color: #4F3439 !important;
  text-align: center;
  max-width: 430px;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px;
  top: -42px;
  font-style: italic;
  position: relative;
  padding: 10px;
}
.h3Testimonial{
  position: relative;
  top: -25px;
  color: #4f3439;
  font-weight: 600;
}
.rowWidthTestimonial{
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 75px;
}
.ant-avatar.ant-avatar-icon{
  line-height: 43px !important;
}
.subscribeTitle{
  padding: 15px 0 0 0;
  color: #fff;
  font-weight: 600;
}

.contentParagraphSubscribe{
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  line-height: 26px;
  font-size: 15px;
  color: #fff !important;
  text-align: center;
  max-width: 430px;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

.subscribeImage {
  width: 170px;
  height: inherit;
  margin: 10px;
  padding: 5px 15px 0;
}

.signupButton{
  -moz-user-select: "none";
  -ms-user-select: "none";
  -webkit-user-select: "none";
  user-select: "none";
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  position: relative;
  width: auto;
  background-color: #4F3948;
  border-radius: 0;
  font-size: large;
  font-weight: 600;
  letter-spacing: 2px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  line-height: 2.2;
  vertical-align: middle;
  cursor: pointer;
  transition: outline 0.1s linear;
  color: #fff;
  border: none;
  padding: 5px 68px;
}   
.signupAlready{
  color: #4F3948;
  font-weight: 400;
  font-size: large;
  padding: 5px;
  margin: 5px 10px; 
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff !important;
  font-weight: 600;
}

.navbar-dark .navbar-toggler {
  color: rgba(0,0,0,.5);
  border-color: rgba(0,0,0,.1);
  border: none;
}

.footer li{
  list-style-type: none;
  text-align: left;
  padding: 2px;
}

.footer li a{
  font-weight: 500;
  color:  #212529;
  text-decoration: none;
  cursor: pointer;
}

.getStartedButton{
    border-radius: 5px;
    background-color: #4F3948;
    color: white;
    width: 200px;
    height: 50px;
    border: 0px;
    text-align: center;
    font-weight: 500;
    margin: 25px 5px;
}

.zoom:hover {
  transition: transform .5s ease !important;
  transform: scale(1.5) !important;
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header{
  color: #fff;
  background-color: rgb(79, 57, 72);
  font-weight:500;
}

.ant-collapse {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  list-style: none;
  -webkit-font-feature-settings: 'tnum';
  font-feature-settings: 'tnum', "tnum";
  background-color: #fafafa;
  border: 1px solid rgba(0, 0, 0, 0.65);
  border-bottom: 0;
  border-radius: 4px;
}
.ant-collapse > .ant-collapse-item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.65); 
}

.dropdown-navlink-color{
  color: rgba(0, 0, 0, 0.65);
}

a.dropdown-navlink-color:hover {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.65);
}

.careers,.careers a,.careers a:hover{
  -moz-user-select: "none";
  -ms-user-select: "none";
  -webkit-user-select: "none";
  user-select: "none";
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  position: relative;
  width: auto;
  background-color: #4F3948;
  border-radius: 0;
  font-weight: 600;
  letter-spacing: 2px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  line-height: 2.2;
  vertical-align: middle;
  cursor: pointer;
  transition: outline 0.1s linear;
  color: #fff;
  border: none;
  padding: 5px 15px;
}

.pickCountry img{
  height: 93px;
  width: 113px;
}



